extends ../layout.jade

block title
   title gym-bud - #{org.getName()} new gym

block content
   h1 #{org.getName()} (#{org.getUrl()}) new gym
   form(action=org.getUrl() + "/new" method="post")
         input(type="text" name="name" value=name || '' placeholder="gym name")
         br
         input(type="text" name="urlName" value=urlName || '' placeholder="url name")
         br
         input(type="submit" value="create new gym for " + org.getName())

      
